<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>your everyday cat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="..\static\style.css">     
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <h1>Your everyday cat</h1>
        <div class="explain">
            <p>This site is going to show you, what type of cat are you today!</p>
            <p>Today you are...</p>    
        </div>
        <img width="300" height="300" src="{{ cat_photo }}" alt="No cat today :(">


        <h2>Do you like your cat?</h2>
        <div class="buttons">
            <button id="0">&#x1F494;</button> <!-- Broken heart icon -->
            <button id="1">&#x2764;</button> <!-- Heart icon -->
        </div>
        
        

        
        <!-- <script </script> -->
    </body>
</html>